@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #1B263B; /*CHALLENGE 7.3: CHANGED COLOR*/
    color: white; /*CHALLENGE 7.3: CHANGED COLOR*/
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: #415A77; /*CHALLENGE 7.3: CHANGED COLOR*/
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

/*CHALLENGE 2.2 AND 2.3: ADD A CSS RULE, ADD FLEXBOX*/
.stats-container {
    display: flex;
    justify-content: space-around; /*horizontal*/
    align-items: stretch; /*vertical*/
    flex-direction: row;/*row or col*/
}

/*CHALLENGE 2.4: SET POINTER, BOX SHADOW, AND COLOR*/
/*CHALLENGE 7.3: SPECIFIED FOR EACH CARD INSTEAD OF CONTAINER*/
.stats-container .stats-card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 30px;
    color: lightblue;
    transform: scale(1.1) perspective(1px);
}

.stats-card {
    background-color: #778DA9;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #415A77; /*CHALLENGE 7.3: CHANGED COLOR*/
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
    transform: scale(1.1) perspective(1px);
}

#button-container {
    text-align: center;
}

/*CHALLENGE 7.3: SET POINTER, BOX SHADOW, AND COLOR*/
#button-container button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 30px;
    color: lightblue;
}

/*CHALLENGE 7.3: SET CUSTOMIZATIONS ON ACTIVE BUTTON*/
#button-container button:active {
    box-shadow: 0px 0px 30px;
    color: #415A77;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}